@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300;400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-size: 100%;
  color: #837e9f;
  font-family: 'Merriweather Sans', sans-serif;
  background-color: #22212c;
}

main {
  display: flex;
}

/*PROFILE*/

.profile {
  margin-left: 40px;
  margin-top: 40px;
  width: 348px;
  height: 292px;
  background-color: #302f3d;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
}

.img-profile {
  width: 128px;
  height: 128px;
}

/*LINKS*/

.links {
  margin-left: 40px;
  margin-top: 30px;
  width: 348px;
  height: 348px;
  background-color: #302f3d;
  border-radius: 20px;
}

.list-links {
  padding: 30px;
  display: flex;
  flex-direction: column;
}

/*TECNOLOGIES*/

.tecnologies {
  margin-left: 40px;
  margin-top: 30px;
  width: 348px;
  height: 208px;
  background-color: #302f3d;
  border-radius: 20px;
}

.list-tecnologies {
  display: flex;
  justify-content: space-around;
  padding-top: 15px;
}

.experiences {
  margin-left: 40px;
  margin-top: 30px;
  width: 348px;
  height: 349px;
  background-color: #302f3d;
  border-radius: 20px;
}

.education {
  margin-left: 40px;
  margin-top: 30px;
  width: 348px;
  height: 352px;
  background-color: #302f3d;
  border-radius: 20px;
}

/*PROJECT PART CENTER*/

.myProjects {
  width: 952px;
  height: 86px;
  background-color: red;
  margin-top: 40px;
  margin-left: 60px;
  border-radius: 20px;
}

.projects {
  width: 952px;
  height: 188px;
  background-color: blue;
  margin-top: 30px;
  margin-left: 60px;
  border-radius: 20px;
  display: flex;
}

.recentPost {
  width: 952px;
  height: 86px;
  background-color: green;
  margin-top: 30px;
  margin-left: 60px;
  border-radius: 20px;
}

.post {
  width: 952px;
  height: 201px;
  background-color: black;
  margin-top: 30px;
  margin-left: 60px;
  border-radius: 20px;
}

/*FOOTER*/

.footer {
  display: flex;
  justify-content: center;
}
